VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|

  config.vm.provider "docker" do |d|
    d.build_dir = "docker"
    d.create_args = ["-ti"]
    d.has_ssh = true
    d.ports = ["80:80", "3306:3306"]
    d.remains_running = true
  end

  config.vm.define 'default' do |default|
    default.vm.hostname = 'vault'
  end

  # SSH Configs
  config.ssh.username = "www"
  config.ssh.password = "changeme"
  config.ssh.pty = true

  # Synced folders
  config.vm.synced_folder ".", "/var/www"
  config.vm.synced_folder "app/storage/logs", "/var/log/shared"
  config.vm.synced_folder "app/storage/db", "/var/lib/mysql"

  config.vm.provider "virtualbox" do |vb|
     # Do not remove it, leave empty
  end

  # Provision with script
  config.vm.provision "shell", path: "docker/init.sh", privileged: false

end
