<form class="form-signin center-block" role="form" ng-submit="login()" trigger-change>
    <input type="text" class="form-control" placeholder="Email address" ng-model="email" required autofocus><br>
    <input type="password" class="form-control" placeholder="Password" ng-model="password" required>
    <br>
    <br>
    <button class="btn btn-primary btn-block" type="submit">Sign In</button>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="remember"> Stay signed in
        </label>
    </div>
</form>
