<div class="modal-header">
    <h3>Assigned Teams</h3>
</div>
<div class="modal-body">

    <loader when="!teams.$resolved || !access.$resolved"></loader>

    <table class="table" ng-show="teams.$resolved && access.$resolved" ng-if="teams.length > 0">
        <thead>
            <th>Name</th>
            <th>Members</th>
            <th></th>
        </thead>
        <tbody>
            <tr class="filter-row">
                <td><input type="text" class="form-control input-sm" ng-model="search.name"></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="team in teams | filter:search">
                <td>{{team.name}}</td>
                <td>
                    <ul class="list-inline">
                        <li title="Team Owner"><u>{{ team.owner.email }}</u></li>
                        <li ng-repeat="user in team.users">{{ user.email }}</li>
                    </ul>
                </td>
                <td class="text-right">
                    <a ng-click="grant(team)" class="btn btn-success btn-xs" title="Grant Access" ng-show="!canAccess(team)">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                    <a ng-click="revoke(team)" class="btn btn-danger btn-xs" title="Revoke Access" ng-show="canAccess(team)">
                        <i class="glyphicon glyphicon-minus"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-if="teams.$resolved && teams.length == 0">
        There are no teams created.
    </div>
</div>