<div class="project-list">
    <div class="heading">
        <a href="/#/recent">Password Vault</a>
    </div>

    <input type="text" placeholder="Filter..." class="form-control filter-input" ng-model="projectFilter.name">

    <ul class="nav nav-pills nav-stacked">
        <li
                ng-repeat="project in projects | filter:projectFilter"
                ng-class="{'active': projectId == project.id}"
                ><a href="/#/project/{{ project.id }}">{{ project.name }}</a></li>
    </ul>

    <div class="ending">
        <ul>
            <li>
                <a title="Log Out ({{login.email}})" ng-click="logout()">
                    <span class="glyphicon glyphicon-off"></span>
                </a>
            </li>
            <li>
                <a title="Account Settings ({{ login.group | userGroup }})" ng-click="profile()">
                    <span class="glyphicon glyphicon-wrench"></span>
                </a>
            </li>
            <li>
                <a href="/#/history" title="History">
                    <span class="glyphicon glyphicon-flag"></span>
                </a>
            </li>
            <li>
                <a href="/#/users" title="Manage Users">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </li>
            <li>
                <a title="Create Project" ng-click="createProject()">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="right-content">
    <ui-view/>
    <div ui-view="head"></div>
    <div ui-view="content"></div>
</div>

