<div class="page-header">
    <h3>
        Manage Teams
        <p class="pull-right">
            <a class="btn btn-default btn-xs" title="Create New Team" ng-click="create()">
                Create New Team
            </a>
        </p>
    </h3>
</div>

<div class="content">
    <loader when="!teams.$resolved"></loader>

    <table ng-if="teams.length > 0" class="table table-hover">
        <thead>
        <tr>
            <th style="min-width: 200px">Team Name</th>
            <th>Members</th>
            <th style="min-width: 150px">Created</th>
            <th style="min-width: 190px"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="filter-row">
            <td><input type="text" class="form-control input-sm" ng-model="search.name"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr ng-repeat="team in teams | filter:search">
            <td>{{ team.name }}</td>
            <td>
                <ul class="list-inline">
                    <li title="Team Owner"><u>{{ team.owner.email }}</u></li>
                    <li ng-repeat="user in team.users">{{ user.email }}</li>
                </ul>
            </td>
            <td><span am-time-ago="team.created_at" title="{{ team.created_at }}"></span></td>
            <td class="text-right">
                <a ng-click="members(team.id)" class="btn btn-success btn-xs" title="Team Members" ng-if="team.can_edit">
                    Manage Members
                </a>
                <a ng-click="update(team.id)" class="btn btn-warning btn-xs" title="Update" ng-if="team.can_edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a ng-click="remove(team.id)" class="btn btn-danger btn-xs" title="Remove" ng-if="team.can_edit">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div ng-if="teams.$resolved && teams.length == 0">
        Currently there are no teams. Be first to create one!
    </div>
</div>
