<div class="pushy pushy-left">
    <div class="project-list">

        <h3 class="text-center pushy-title">
            Vault: Projects
        </h3>

        <a class="btn btn-default" ng-click="createProject()" title="Create Project">
            <span class="glyphicon glyphicon-plus"></span> Create new project
        </a>

        <input type="text" class="form-control input-sm" ng-model="projectFilter.name" ng-keypress="openFirst($event)" app-focus>

        <div class="project-scrollbar">
          <table class="table table-hover sidebar-table">
              <tbody>
                <tr ng-repeat="project in projects | filter:projectFilter" ng-class="{'active': projectId == project.id}">
                    <td>
                        <a ui-sref="user.project({projectId: project.id})" ng-click="toggle(true)">{{ project.name }}</a>
                    </td>
                    <td>
                      <a class="btn btn-success btn-xs" title="Assign Team" ng-click="projectTeams(project)" ng-if="project.can_edit">
                          <i class="glyphicon glyphicon-link"></i>
                      </a>
                      <a class="btn btn-success btn-xs" title="Show Assigned Teams" ng-click="assignedTeams(project)" ng-if="!project.can_edit">
                          <i class="glyphicon glyphicon-question-sign"></i>
                      </a>

                      <a class="btn btn-warning btn-xs" title="Edit project" ng-click="updateProject(project)" ng-if="project.can_edit">
                          <i class="glyphicon glyphicon-edit"></i>
                      </a>
                      <a class="btn btn-danger btn-xs" title="Delete project" ng-click="deleteProject(project)" ng-if="project.can_edit" style="margin-right: 30px">
                          <i class="glyphicon glyphicon-trash"></i>
                      </a>
                      <a class="btn btn-primary btn-xs" title="Project Access Information" ng-click="projectOwnerInfo(project)" ng-if="!project.can_edit" style="margin-right: 30px">
                          <i class="glyphicon glyphicon-info-sign"></i>
                      </a>
                    </td>
                </tr>
              </tbody>
          </table>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="side-menu">
        <div class="side-menu-top">
            <a class="btn btn-side-menu" ui-sref="user.home" title="Recently Accessed" ng-click="toggle(true)">
                <i class="glyphicon glyphicon-home"></i><br>Recent
            </a>
            <a class="btn btn-side-menu" ng-click="jump()" title="Project Jumper" ng-click="toggle(true)">
                <i class="glyphicon glyphicon glyphicon-random"></i><br>Jump
            </a>
            <a class="btn btn-side-menu" ng-click="toggle()" title="Project List" ng-click="toggle(true)">
                <i class="glyphicon glyphicon-th-list"></i><br>Projects
            </a>

            <a class="btn btn-side-menu" ui-sref="user.teams" title="Manage Teams" ng-click="toggle(true)">
                <span class="glyphicon glyphicon-text-width"></span><br>Teams
            </a>

            <div ng-if="login.group == 'admin'">
                <a class="btn btn-side-menu" ui-sref="user.history" title="Action History" ng-click="toggle(true)">
                    <span class="glyphicon glyphicon-flag"></span><br>History
                </a>
                <a class="btn btn-side-menu" ui-sref="user.list" title="Manage Users" ng-click="toggle(true)">
                    <span class="glyphicon glyphicon-user"></span><br>Users
                </a>
            </div>
        </div>

        <div class="side-menu-bottom">
            <profile></profile>
            <logout></logout>
        </div>
    </div>
</div>

<div class="site-overlay"></div>

<div id="container">
    <ui-view/>
    <div ui-view="head"></div>
    <div ui-view="content"></div>
</div>

<project-jump projects="projects"></project-jump>
