    <div class="side-menu">
        <div class="side-menu-top">
            <a class="btn btn-side-menu" ui-sref="user.home" title="Recently Accessed">
                <i class="glyphicon glyphicon-home"></i><br>Recent
            </a>
            <a class="btn btn-side-menu" ng-click="jump()" title="Project Jumper">
                <i class="glyphicon glyphicon glyphicon-random"></i><br>Jump
            </a>
            <a class="btn btn-side-menu" ui-sref="user.projects" title="Project List">
                <i class="glyphicon glyphicon-th-list"></i><br>Projects
            </a>

            <a class="btn btn-side-menu" ui-sref="user.teams" title="Manage Teams">
                <span class="glyphicon glyphicon-text-width"></span><br>Teams
            </a>

            <div ng-if="login.group == 'admin'">
                <a class="btn btn-side-menu" ui-sref="user.list" title="Manage Users">
                    <span class="glyphicon glyphicon-user"></span><br>Users
                </a>
                <a class="btn btn-side-menu" ui-sref="user.history" title="Action History">
                    <span class="glyphicon glyphicon-flag"></span><br>History
                </a>
            </div>
        </div>

        <div class="side-menu-bottom">
            <profile></profile>
            <logout></logout>
        </div>
    </div>

<div id="container" class="content-background"><ui-view/></div>

<project-jump projects="projects"></project-jump>
