<div class="page-header">
    <h3>Recently Accessed Items</h3>
</div>

<div class="content">
    <loader when="!recent.$resolved"></loader>

    <table class="table table-entries" ng-show="recent.length > 0">
        <thead>
        <tr>
            <th></th>
            <th>Project</th>
            <th>Password</th>
            <th>Username/Address</th>
            <th>Accessed</th>
            <th></th>
        </tr>
        </thead>
        <tr ng-repeat="entry in recent" ng-class="{'current': entry.id == active.id}" ng-mouseover="setActive(entry)">
            <td class="col-min col-id">#{{ entry.id }}</td>
            <td class="col-title">
                <a ui-sref="user.project({projectId: entry.project_id, active: entry.id})" title="Go to projects">{{ entry.project_name }}</a>
            </td>
            <td class="col-title">
                <a ui-sref="user.project({projectId: entry.project_id, active: entry.id})" title="Go to entry">{{ entry.name }}</a>
            </td>
            <td>
                <div class="text-large">
                    <span title="{{entry.note}}">{{ entry.username }}</span>
                    <span class="text-muted" ng-if="entry.username && entry.url">@</span>
                    <span title="{{entry.note}}">{{ entry.url }}</span>
                    &nbsp;
                </div>
            </td>
            <td class="col-title"><span am-time-ago="entry.created_at" title="{{ entry.created_at }}"></span></td>
            <td class="text-right">
                <copy-password entry="entry"></copy-password>
                <a href show-password="entry" class="btn btn-xs btn-info" ng-if="entry.id > 0"><i class="fa fa-fw fa-lock"></i></a>
            </td>
        </tr>
    </table>

    <div ng-show="recent.$resolved && recent.length == 0">
        There are no recently accessed items.
    </div>
</div>
