<div class="modal-header">
    <h3>Enter Project Details</h3>
</div>
<form>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label" for="iName">Name *</label>
            <input type="text" name="email" class="form-control" id="iName" ng-model="project.name" required app-focus>
        </div>
        <div class="form-group">
            <label class="control-label" for="iDesc">Description</label>
            <input type="text" class="form-control" id="iDesc" ng-model="project.description">
        </div>
    </div>
    <div class="modal-footer">
        <div ng-if="project.id" change-project-owner project-id="project.id" class="pull-left"></div>

        <button type="submit" class="btn btn-primary" ng-click="ok()">Save</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</form>
