<div class="page-header">
    <h3>
        {{ getProject().name }} <small>{{ getProject().description }}</small>

        <div class="pull-right">
            <a class="btn btn-success btn-xs" title="Assign Team" ng-click="projectTeams()" ng-if="getProject().can_edit">
                <i class="glyphicon glyphicon-link"></i> Assign Team
            </a>
            <a class="btn btn-success btn-xs" title="Show Assigned Teams" ng-click="assignedTeams()" ng-if="!getProject().can_edit">
                <i class="glyphicon glyphicon-question-sign"></i>
            </a>

            <a class="btn btn-warning btn-xs" title="Edit project" ng-click="updateProject()" ng-if="getProject().can_edit">
                <i class="glyphicon glyphicon-edit"></i> Edit
            </a>
            <a class="btn btn-danger btn-xs" title="Delete project" ng-click="deleteProject()" ng-if="getProject().can_edit" style="margin-right: 30px">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
            <a class="btn btn-primary btn-xs" title="Project Access Information" ng-click="projectOwnerInfo()" ng-if="!getProject().can_edit" style="margin-right: 30px">
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>
            <entry-create project-id="getProject().id"></entry-create>
        </div>
    </h3>
</div>
