<div class="page-header">
    <h3>History</h3>
</div>

<loader when="!history.$resolved"></loader>

<div class="content">
    <table ng-if="history.length > 0" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th>Message</th>
            <th style="min-width: 150px">Created</th>
            <th>User Email</th>
            <th>User Group</th>
            <th>Model</th>
        </tr>

        </thead>
        <tbody>
        <tr class="filter-row">
            <td><input type="text" class="form-control input-sm" ng-model="search.message"></td>
            <td></td>
            <td><input type="text" class="form-control input-sm" ng-model="search.email"></td>
            <td><input type="text" class="form-control input-sm" ng-model="search.group"></td>
            <td></td>
        </tr>
        <tr ng-repeat="item in history | filter:search">
            <td>{{ item.message }}</td>
            <td><span am-time-ago="item.created_at" title="{{ item.created_at }}"></span></td>
            <td>{{ item.email }}</td>
            <td>{{ item.group | userGroup }}</td>
            <td>{{ item.model_id }}</td>
        </tr>
        </tbody>
    </table>
</div>
