<div class="page-header">
    <h3>
        {{ getProject().name }} <small>{{ getProject().description }}</small>
        <p class="pull-right">
            <a class="btn btn-warning btn-xs" title="Edit project" ng-click="updateProject()" ng-if="getProject().can_edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-danger btn-xs" title="Delete project" ng-click="deleteProject()" ng-if="getProject().can_edit" style="margin-right: 30px">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
            <a class="btn btn-primary btn-xs" title="Project Access Information" ng-click="projectOwnerInfo()" ng-if="!getProject().can_edit" style="margin-right: 30px">
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>
            <a class="btn btn-default btn-xs" title="Add new key" ng-click="createEntry()">
                Add new key
            </a>
        </p>
    </h3>
</div>