.signin-card {
  -webkit-animation: cardEnter 0.5s ease-in-out 0.3s;
  animation: cardEnter 0.5s ease-in-out 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 0;
}
.login-screen {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(-45deg, #5d4157 10%, #a8caba 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(-45deg, #5d4157 10%, #a8caba 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(-45deg, #5d4157 10%, #a8caba 90%);
  /* IE10 */
  background: -o-linear-gradient(-45deg, #5d4157 10%, #a8caba 90%);
  /* Opera 11.10+ */
  background: linear-gradient(-45deg, #5d4157 10%, #a8caba 90%);
  /* W3C */
}
/* -- login paper styles ------------------------------ */
.signin-card {
  max-width: 350px;
  border-radius: 2px;
  margin: 200px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.19);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.box-shadow {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.19);
}
.signin-card .logo-image,
.signin-card h1,
.signin-card p {
  text-align: center;
}
/* -- font styles ------------------------------------- */
.display1 {
  font-size: 28px;
  font-weight: 100;
  line-height: 1.2;
  color: #757575;
  text-transform: inherit;
  letter-spacing: inherit;
  margin: 0;
}
.subhead {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.1;
  color: #212121;
  text-transform: inherit;
  letter-spacing: inherit;
  margin-bottom: 40px;
}
/* card animation from Animate.css -------------------- */
@-webkit-keyframes cardEnter {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    -ms-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    -ms-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes cardEnter {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    -ms-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    -ms-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.table .col-min {
  width: 1%;
  white-space: nowrap;
}
.table-entries > tbody > tr > td {
  vertical-align: middle;
}
.table-entries tr.current {
  background: #EFF5F2;
}
.table-entries .col-id {
  font-weight: bold;
  color: #ccc;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}
.table-entries .col-title {
  font-size: 17px;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 0;
  width: 40%;
}
.table-entries .col-title .title {
  text-transform: capitalize;
}
.table-entries .col-title .note {
  color: #ccc;
}
.table-entries .col-title .time {
  color: #999;
  line-height: 100%;
}
.table-entries .text-large {
  font-size: 17px;
}
.table-entries .text-small {
  font-size: 11px;
}
.table-entries tr:hover .tags a,
.table-entries tr.current .tags a {
  visibility: visible;
}
.table-entries .tags a {
  visibility: hidden;
}
.table-entries .tags .label {
  margin-right: 3px;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #F1F1F1;
}
::-webkit-scrollbar-thumb {
  background: #64737e;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #4F565E;
}
.nl2br {
  white-space: pre-line;
}
.nice-flow {
  -webkit-transition: width 0.3s ease, margin 0.3s ease;
  -moz-transition: width 0.3s ease, margin 0.3s ease;
  -o-transition: width 0.3s ease, margin 0.3s ease;
  transition: width 0.3s ease, margin 0.3s ease;
}
.invisible {
  opacity: 0;
}
.invisible-flow {
  transition: opacity 0.1s 0.3s ease;
}
#toast-container > div {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.19);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
}
.box-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.project-jump {
  position: absolute;
  top: -350px;
  left: 50%;
  margin-left: -175px;
  width: 350px;
  background: #3c3d42;
  padding: 15px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.19);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.project-jump.in {
  top: 15px;
}
.content-background {
  background-color: white;
}
.project-scrollbar {
  flex: 1;
  overflow-y: scroll;
}
.side-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background: -webkit-linear-gradient(180deg, #5d4157 10%, #a8caba 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(180deg, #5d4157 10%, #a8caba 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(180deg, #5d4157 10%, #a8caba 90%);
  /* IE10 */
  background: -o-linear-gradient(180deg, #5d4157 10%, #a8caba 90%);
  /* Opera 11.10+ */
  background: linear-gradient(180deg, #5d4157 10%, #a8caba 90%);
  /* W3C */
  width: 56px;
  text-align: center;
}
.cursor {
  cursor: pointer;
}
.btn-side-menu {
  padding: 12px;
  display: block;
  width: 100%;
  border-radius: 0;
  color: #fff;
}
.btn-side-menu:focus {
  color: #fff;
}
.btn-side-menu:hover,
.btn-side-menu.active {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  box-shadow: none;
}
.sidebar-table {
  width: 95%;
  color: white;
}
.sidebar-table > thead > tr > th {
  border-bottom: 2px solid #46474f;
}
.sidebar-table > tbody > tr > td {
  border-bottom: 1px solid #46474f;
}
.sidebar-table > tbody > tr.active > td,
.sidebar-table > tbody > tr:hover > td {
  background: #46474f;
}
.side-menu-top {
  flex: 1;
}
.no-margin {
  margin: 0;
}
.project-list {
  width: 344px;
}
.project-list ::-webkit-scrollbar-track {
  background: #3B424C;
}
.project-list ::-webkit-scrollbar-thumb {
  background: #64737e;
}
.project-list ::-webkit-scrollbar-thumb:window-inactive {
  background: #4F565E;
}
.page-header {
  margin: 0;
  background: #F1F1F1;
  padding: 15px 30px;
  height: 55px;
}
.page-header h3 {
  margin: 0;
  font-size: 22px;
  color: #1A1B1F;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}
.content {
  margin: 30px;
}
.loader {
  margin-left: -32px;
  margin-top: 5%;
  padding-left: 50%;
}
.modal-header {
  height: 56px;
  background: #5d4157;
  padding: 1.1em;
}
.modal-header h3 {
  color: #E7EDEA;
  margin: 0;
}
.modal-content {
  border: 1px solid #4F565E;
  border-radius: 2px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.19);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.modal-footer {
  background: #F1F1F1;
  padding: 10px;
  border-top: none;
}
.password {
  font-family: 'passwordregular';
}
@font-face {
  font-family: 'passwordregular';
  src: url('../fonts/password-webfont.eot');
  src: url('../fonts/password-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/password-webfont.woff2') format('woff2'), url('../fonts/password-webfont.woff') format('woff'), url('../fonts/password-webfont.ttf') format('truetype'), url('../fonts/password-webfont.svg#passwordregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.table > thead > tr.filter-row > th,
.table > tbody > tr.filter-row > th,
.table > tfoot > tr.filter-row > th,
.table > thead > tr.filter-row > td,
.table > tbody > tr.filter-row > td,
.table > tfoot > tr.filter-row > td {
  padding: 5px;
}
.list-inline {
  margin-bottom: 0;
}
#container {
  margin-left: 56px;
}

.signin-card {
  -webkit-animation: cardEnter 0.5s ease-in-out 0.3s;
  animation: cardEnter 0.5s ease-in-out 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 0;
}
.login-screen {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(-45deg, #5d4157 10%, #a8caba 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(-45deg, #5d4157 10%, #a8caba 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(-45deg, #5d4157 10%, #a8caba 90%);
  /* IE10 */
  background: -o-linear-gradient(-45deg, #5d4157 10%, #a8caba 90%);
  /* Opera 11.10+ */
  background: linear-gradient(-45deg, #5d4157 10%, #a8caba 90%);
  /* W3C */
}
/* -- login paper styles ------------------------------ */
.signin-card {
  max-width: 350px;
  border-radius: 2px;
  margin: 200px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.19);
}
.box-shadow {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.19);
}
.signin-card .logo-image,
.signin-card h1,
.signin-card p {
  text-align: center;
}
/* -- font styles ------------------------------------- */
.display1 {
  font-size: 28px;
  font-weight: 100;
  line-height: 1.2;
  color: #757575;
  text-transform: inherit;
  letter-spacing: inherit;
  margin: 0;
}
.subhead {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.1;
  color: #212121;
  text-transform: inherit;
  letter-spacing: inherit;
  margin-bottom: 40px;
}
/* card animation from Animate.css -------------------- */
@-webkit-keyframes cardEnter {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    -ms-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    -ms-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes cardEnter {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    -ms-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    -ms-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.table .col-min {
  width: 1%;
  white-space: nowrap;
}
.table-entries > tbody > tr > td {
  vertical-align: middle;
}
.table-entries tr.current {
  background: #EFF5F2;
}
.table-entries .col-id {
  font-weight: bold;
  color: #ccc;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}
.table-entries .col-title {
  font-size: 17px;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 0;
  width: 40%;
}
.table-entries .col-title .title {
  text-transform: capitalize;
}
.table-entries .col-title .note {
  color: #ccc;
}
.table-entries .col-title .time {
  color: #999;
  line-height: 100%;
}
.table-entries .text-large {
  font-size: 17px;
}
.table-entries .text-small {
  font-size: 11px;
}
.table-entries tr:hover .tags a,
.table-entries tr.current .tags a {
  visibility: visible;
}
.table-entries .tags a {
  visibility: hidden;
}
.table-entries .tags .label {
  margin-right: 3px;
}
