html,
body {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #F1F1F1;
}
::-webkit-scrollbar-thumb {
  background: #64737e;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #4F565E;
}
.project-jump {
  position: absolute;
  top: 10px;
  right: 400px;
  width: 300px;
}
.project-scrollbar {
  flex: 1;
  overflow-y: scroll;
}
.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 75px;
  background: #3c3d42;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: -10px 0 15px 0 rgba(0, 0, 0, 0.1);
}
.btn-side-menu {
  padding: 16px 12px;
  display: block;
  width: 100%;
  border-radius: 0;
  color: #fff;
}
.btn-side-menu:hover,
.btn-side-menu:focus {
  color: #C5CAE9;
}
.sidebar-table {
  width: 95%;
  color: white;
}
.sidebar-table > thead > tr > th {
  border-bottom: 2px solid #46474f;
}
.sidebar-table > tbody > tr > td {
  border-bottom: 1px solid #46474f;
}
.sidebar-table > tbody > tr.active > td,
.sidebar-table > tbody > tr:hover > td {
  background: #46474f;
}
.side-menu-top .btn-side-menu {
  border-bottom: 1px solid #54565d;
}
.side-menu-bottom .btn-side-menu {
  border-top: 1px solid #54565d;
}
.side-menu-top {
  flex: 1;
}
.no-margin {
  margin: 0;
}
.project-list {
  width: 325px;
}
.project-list ::-webkit-scrollbar-track {
  background: #3B424C;
}
.project-list ::-webkit-scrollbar-thumb {
  background: #64737e;
}
.project-list ::-webkit-scrollbar-thumb:window-inactive {
  background: #4F565E;
}
.page-header {
  margin: 0;
  background: #F1F1F1;
  padding: 15px 30px;
  height: 56px;
  border-bottom: 1px solid #E0E0E0;
}
.page-header h3 {
  margin: 0;
  font-size: 22px;
  color: #1A1B1F;
}
.content {
  margin: 30px;
}
.loader {
  margin-left: -32px;
  margin-top: 5%;
  padding-left: 50%;
}
.modal-header {
  height: 56px;
  background: #3c3d42;
  border-bottom: #242427;
  padding: 1.1em;
}
.modal-header h3 {
  color: #E7EDEA;
  margin: 0;
}
.modal-content {
  border: 1px solid #4F565E;
  border-radius: 0;
}
.modal-footer {
  background: #F1F1F1;
  padding: 10px;
  border-top: 1px solid #E0E0E0;
}
.password {
  font-family: 'passwordregular';
}
@font-face {
  font-family: 'passwordregular';
  src: url('../fonts/password-webfont.eot');
  src: url('../fonts/password-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/password-webfont.woff2') format('woff2'), url('../fonts/password-webfont.woff') format('woff'), url('../fonts/password-webfont.ttf') format('truetype'), url('../fonts/password-webfont.svg#passwordregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.form-signin {
  background: #F1F1F1;
  max-width: 340px;
  margin-top: 170px;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #E0E0E0;
}
.table > thead > tr.filter-row > th,
.table > tbody > tr.filter-row > th,
.table > tfoot > tr.filter-row > th,
.table > thead > tr.filter-row > td,
.table > tbody > tr.filter-row > td,
.table > tfoot > tr.filter-row > td {
  padding: 5px;
}
.list-inline {
  margin-bottom: 0;
}
.pushy-title {
  color: white;
}
.pushy {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 400px;
  height: 100%;
  top: 0;
  z-index: 500;
  background: #2e2f34;
  -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, 0.7);
  box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, 0.7);
}
/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-325px, 0, 0);
  -moz-transform: translate3d(-325px, 0, 0);
  -ms-transform: translate3d(-325px, 0, 0);
  -o-transform: translate3d(-325px, 0, 0);
  transform: translate3d(-325px, 0, 0);
}
.pushy-open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.container-push,
.push-push {
  -webkit-transform: translate3d(400px, 0, 0);
  -moz-transform: translate3d(400px, 0, 0);
  -ms-transform: translate3d(400px, 0, 0);
  -o-transform: translate3d(400px, 0, 0);
  transform: translate3d(400px, 0, 0);
}
/* Menu Transitions */
.pushy,
#container,
.push {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -moz-transition: -moz-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: -o-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
#container {
  margin-left: 75px;
}
/* Site Overlay */
.site-overlay {
  display: none;
}
.pushy-active #container {
  margin-left: 0;
}
.pushy-active .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 75px;
  z-index: 480;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  -moz-animation: fade 500ms;
  -ms-animation: fade 500ms;
  -o-animation: fade 500ms;
  animation: fade 500ms;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
