<div class="modal-header">
    <h3>
        Users which have access to <span ng-if="entry.name">"{{ entry.name }}"</span>
        <span ng-if="!entry.name">this key</span>
    </h3>
</div>

<div class="modal-body">

    <loader when="!access.$resolved"></loader>

    <table class="table" ng-if="access.$resolved && access.length">
        <thead>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
        </thead>
        <tbody>
        <tr ng-repeat="user in access">
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.email}}</td>
        </tr>
        </tbody>
    </table>

    <div ng-if="access.$resolved && !access.length" class="text-center">
        Strange. No users can access this key.
    </div>
</div>