<div class="page-header">
    <div class="row">
        <div class="col-md-5 col-xs-4">
            <h3>
                <a ui-sref="user.projects({active: project.id})" class="btn btn-info btn-xs" title="Go to projects">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </a>
                {{ project.name }}
                <small class="hidden-md">{{ project.description }}</small>
            </h3>
        </div>
        <div class="col-md-2 col-xs-4">
            <input type="text" class="form-control input-sm" style="margin-top:-2px" placeholder="Search password" ng-model="search.query" app-focus tabindex="1">
        </div>
        <div class="col-md-5 col-xs-4">
            <div class="pull-right">
                <a class="btn btn-success btn-xs" title="Assign Team" project-teams="project" ng-if="project.can_edit">
                    <i class="glyphicon glyphicon-link"></i>
                </a>
                <a class="btn btn-success btn-xs" title="Show Assigned Teams" project-show-teams="project" ng-if="!project.can_edit">
                    <i class="glyphicon glyphicon-question-sign"></i>
                </a>

                <a class="btn btn-primary btn-xs" title="Project Access Information" project-show-owner="project" ng-if="!project.can_edit">
                    <i class="glyphicon glyphicon-info-sign"></i>
                </a>

                <project-update project="project"></project-update>

                <a class="btn btn-default btn-xs" title="Add new key" entry-create="project">Add new key</a>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <loader when="!entries.$resolved"></loader>

    <table class="table table-entries" ng-if="entries.length > 0">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Username / Address</th>
                <th>Tags</th>
                <th style="min-width: 130px"></th>
            </tr>
        </thead>
        <tbody>
        <tr ng-if="0" ng-repeat-start="entry in getFiltered()"></tr>
        <tr ng-class="{'current': entry.id == active.id}" ng-mouseover="setActive(entry)">
            <td ng-click="setActive(entry)" class="cursor col-min col-id">#{{ entry.id }}</td>
            <td ng-click="setActive(entry)" class="cursor col-title" show-password="entry">
                <span title="{{entry.note}}" class="title">
                    {{ entry.name }}
                    <span class="note">{{ entry.note }}</span>
                </span>

                <div class="text-small">
                    <span class="time" am-time-ago="entry.updated_at" title="{{ entry.updated_at }}, created: {{ entry.created_at }}"></span>
                </div>
            </td>
            <td ng-click="setActive(entry)" class="cursor">
                <div class="text-large">
                    <span title="{{entry.note}}">{{ entry.username }}</span><span class="text-muted" ng-if="entry.username && entry.url">@</span><span title="{{entry.note}}">{{ entry.url }}</span>
                </div>
            </td>

            <td ng-click="setActive(entry)" class="cursor">
                <div class="tags">
                    <span ng-repeat="tag in entry.tags" class="label label-default" style="background-color: {{ tag.color }}">{{ tag.name }}</span>
                    <entry-tag ng-if="entry.can_edit" entry="active"></entry-tag>
                </div>
            </td>
            <td class="text-right">
                <entry-access-info entry="entry"></entry-access-info>

                <div ng-if="entry.can_edit">

                    <copy-password entry="entry"></copy-password>
                    <entry-share entry="entry"></entry-share>

                    <!-- Single button -->
                    <div class="btn-group" dropdown is-open="status.isopen">

                        <a href class="btn btn-link" dropdown-toggle>
                            <i class="fa fa-cogs"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a entry-update="entry" href>Edit</a>
                            </li>
                            <li>
                                <a entry-delete="entry" href>Delete</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>

        <tr ng-if="0" ng-repeat-end></tr>
        </tbody>
    </table>

    <div ng-if="entries.$resolved && entries.length == 0">
        This project has no added keys.
    </div>
</div>


