<div class="modal-header">
    <h3>Password</h3>
</div>
<form>
    <div class="modal-body">
        <div class="form-group">
            <textarea rows="8" name="note" class="form-control"
                      ng-class="{password: !shown}" ng-model="password.password"
                      app-focus app-focus-select></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="pull-left btn btn-default" ng-click="download()">Download</button>

        <button class="btn btn-warning" ng-click="hide()" ng-show="shown">Hide Password</button>
        <button class="btn btn-warning" ng-click="show()" ng-show="!shown">Show Password</button>
        <button class="btn btn-default" ng-click="cancel()">Close</button>
    </div>
</form>
