<div class="modal-header">
    <h3>Tag Key "{{ entry.name }}"</h3>
</div>

<div class="modal-body">
    <loader when="!tags.$resolved"></loader>

    <div ng-if="tags.$resolved">
        <label class="control-label">Assigned Tags</label>
        <ul class="list-inline" style="font-size: 15px">
            <li ng-repeat="tag in entry.tags">
                <span class="label label-default cursor" ng-click="removeTag(tag)" style="background-color: {{ tag.color }}">
                    {{ tag.name }}
                </span>
            </li>
        </ul>

        <div ng-if="entry.tags.length == 0">
            This key does not have any tags yet.
        </div>

        <hr>
        <label class="control-label">Create new</label>
        <div class="row">

            <div class="col-xs-6">
                <input class="form-control" type="text" ng-model="tag.name" placeholder="title...">
            </div>
            <div class="col-xs-3">
                <input colorpicker="hex" class="form-control" type="text" ng-model="tag.color" placeholder="color...">
            </div>
            <div class="col-xs-3">
                <button class="btn btn-default btn-block btn-success" ng-click="createTag()">
                    <i class="glyphicon glyphicon-import"></i> Create tag
                </button>
            </div>
        </div>

        <hr>
        <label class="control-label">Assign existing</label>

        <ul class="list-inline" style="font-size: 15px; line-height: 2em">
            <li ng-repeat="tag in availableTags()|filter:tag.name">
                <span class="label label-default cursor" ng-click="addTag(tag)" style="background-color: {{ tag.color }}">
                    {{ tag.name }}
                </span>
            </li>
        </ul>
        <div ng-if="availableTags().length == 0">
            There are no more available tags.
        </div>
    </div>
</div>
