@sidebar-width: 230px;

html, body {
  margin: 0;
  padding: 0;
}
body {
  min-width: 970px;
}
.right-content {
  position: absolute;
  left: @sidebar-width;
  top: 0;
  right: 0;
  min-width: 700px;
}
.no-margin {
  margin: 0;
}
.project-list {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: @sidebar-width;
  background: #3B424C;
  border-right: 1px solid #4F565E;
  z-index: 1;
  .nav li {
    line-height: 1em;
    a {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-right: 10px;
      color: #E7EDEA;
      text-shadow: 1px 1px 2px #373B44;
    }
    &.active a {
      background: #4F565E;
      color: #E7EDEA;
    }
    a:hover {
      background: #373B44;
    }
  }
  .heading {
    text-align: center;
    height: 56px;
    background: #373B44;
    border-bottom: 1px solid #4F565E;
    padding: 1.1em;
    a {
      font-size: 1.3em;
      text-transform: uppercase;
      color: #E7EDEA;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .filter-input {
    margin: 10px;
    width: @sidebar-width - 20px;
    background: #3B424C;
    border: 1px solid #4F565E;
  }
  .ending {
    position: absolute;
    width: @sidebar-width;
    bottom: 1px;
    height: 56px;
    border-top: 1px solid #4F565E;
    z-index: 5;
    ul.bottom-nav {
      font-size: 0;
      padding: 0;
      list-style-type: none;
      margin: 0;
      > li {
        font-size: 14px;
        display: inline-block;
        width: 33%;
        margin: 0;
        a {
          display: block;
          height: 56px;
          background: #373B44;
          cursor: pointer;
          text-align: center;
          color: #E7EDEA;
          padding-top: 18px;
          &:hover {
            background: #4F565E;
            text-decoration: none;
          }
        }
        span.dropdown.open {
          > a {
            background: #4F565E;
          }
        }
        &:last-child {
          width: 34%;
        }
      }
    }
    ul.dropdown-menu {
      bottom: 57px;
      top: inherit;
      position: fixed;
      left: 0;
      padding: 0;
      border-radius: 0;
      margin: 0;
      border: none;
      border-top: 1px solid #4F565E;
      width: @sidebar-width;
      background: #373B44;
      box-shadow: none;
      li {
        a {
          height: 40px;
          padding-top: 10px;
        }
        &.divider {
          background-color: #4F565E;
          margin: 3px 0;
        }
      }
    }
  }
}

.project-scrollbar {
  height: calc(~"100% - 170px");
}

.page-header {
  margin: 0;
  background: #F1F1F1;
  padding: 15px 30px;
  height: 56px;
  border-bottom: 1px solid #E0E0E0;
  h3 {
    margin: 0;
    font-size: 22px;
    color: #1A1B1F;
  }
}

.content {
  margin: 30px;
}

.loader {
  margin-left: -32px;
  margin-top: 5%;
  padding-left: 50%;
}

.flash-message {
  position: fixed;
  top: 31px;
  left: 50%;
  margin-left: -299px;
  width: 598px;
  z-index: 999999;
}

.flash-message .alert {
  margin: 0;
  border-radius: 0;
  height: 57px;
  position: absolute;
  width: 100%;
  padding-top: 18px;
}

.modal-header {
  height: 56px;
  background: #3B424C;
  border-bottom: 1px solid #4F565E;
  padding: 1.1em;
  h3 {
    color: #E7EDEA;
    margin: 0;
    text-shadow: 1px 1px 2px #373B44;
  }
}

.modal-content {
  border: 1px solid #4F565E;
  border-radius: 0;
}

.modal-footer {
  background: #F1F1F1;
  padding: 10px;
  border-top: 1px solid #E0E0E0;
}

.password {
  font-family: 'passwordregular';
}

@font-face {
  font-family: 'passwordregular';
  src: url('../fonts/password-webfont.eot');
  src: url('../fonts/password-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/password-webfont.woff2') format('woff2'),
  url('../fonts/password-webfont.woff') format('woff'),
  url('../fonts/password-webfont.ttf') format('truetype'),
  url('../fonts/password-webfont.svg#passwordregular') format('svg');
  font-weight: normal;
  font-style: normal;
}