@import 'login';

@sidebar-width: 400px;
@sidebar-show-width: 75px;
@sidebar-show-bg: #3C3D42;
@sidebar-bg: #2E2F34;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #F1F1F1;
}
::-webkit-scrollbar-thumb {
  background: #64737e;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #4F565E;
}

#toast-container > div {
  .box-shadow;
  border-radius: 2px;
}

.box-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}

.project-jump {
  position: absolute;
  top: -350px;
  left: 50%;
  margin-left: -175px;
  width: 350px;
  background: #3c3d42;
  padding: 15px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  &.in {
    top: 15px;
  }
  .box-shadow;
}

.content-background {
  background-color: white;
}

.project-scrollbar {
  flex: 1;
  overflow-y: scroll;
}

.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: @sidebar-show-width;
  background: @sidebar-show-bg;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: -10px 0 15px 0 rgba(0, 0, 0, .1);
}

.btn-side-menu {
  padding: 16px 12px;
  display: block;
  width: 100%;
  border-radius: 0;
  color: #fff;
  &:hover, &:focus {
    color: #C5CAE9;
  }
}

.sidebar-table {
  width: 95%;
  color: white;
  >thead>tr>th {
    border-bottom: 2px solid lighten(@sidebar-bg, 10%);
  }
  >tbody>tr>td {
    border-bottom: 1px solid lighten(@sidebar-bg, 10%);
  }
  >tbody>tr.active>td, >tbody>tr:hover>td, {
    background: lighten(@sidebar-bg, 10%);
  }

}

.side-menu-top .btn-side-menu {
  border-bottom: 1px solid lighten(@sidebar-show-bg, 10%);
}

.side-menu-bottom .btn-side-menu {
  border-top: 1px solid lighten(@sidebar-show-bg, 10%);
}

.side-menu-top {
  flex: 1;
}

.no-margin {
  margin: 0;
}
.project-list {
  width: @sidebar-width - @sidebar-show-width;

  ::-webkit-scrollbar-track {
    background: #3B424C;
  }
  ::-webkit-scrollbar-thumb {
    background: #64737e;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: #4F565E;
  }
}

.page-header {
  margin: 0;
  background: #F1F1F1;
  padding: 15px 30px;
  height: 56px;
  border-bottom: 1px solid #E0E0E0;
  h3 {
    margin: 0;
    font-size: 22px;
    color: #1A1B1F;
  }
}

.content {
  margin: 30px;
}

.loader {
  margin-left: -32px;
  margin-top: 5%;
  padding-left: 50%;
}

.modal-header {
  height: 56px;
  background: @sidebar-show-bg;
  border-bottom: darken(@sidebar-show-bg, 10%);
  padding: 1.1em;
  h3 {
    color: #E7EDEA;
    margin: 0;
  }
}

.modal-content {
  border: 1px solid #4F565E;
  border-radius: 2px;
  .box-shadow;
}

.modal-footer {
  background: #F1F1F1;
  padding: 10px;
  border-top: 1px solid #E0E0E0;
}

.password {
  font-family: 'passwordregular';
}

@font-face {
  font-family: 'passwordregular';
  src: url('../fonts/password-webfont.eot');
  src: url('../fonts/password-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/password-webfont.woff2') format('woff2'),
  url('../fonts/password-webfont.woff') format('woff'),
  url('../fonts/password-webfont.ttf') format('truetype'),
  url('../fonts/password-webfont.svg#passwordregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.form-signin {
  background: #F1F1F1;
  max-width: 340px;
  margin-top: 170px;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #E0E0E0;
}

.table>thead>tr.filter-row>th,
.table>tbody>tr.filter-row>th,
.table>tfoot>tr.filter-row>th,
.table>thead>tr.filter-row>td,
.table>tbody>tr.filter-row>td,
.table>tfoot>tr.filter-row>td {
  padding: 5px;
}

.list-inline {
  margin-bottom: 0;
}

.pushy-title {
  color: white;
}

.pushy{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: @sidebar-width;
    height: 100%;
    top: 0;
    z-index: 500;
    background: @sidebar-bg;
    -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
}

/* Menu Movement */

.pushy-left{
    -webkit-transform: translate3d(-@sidebar-width+@sidebar-show-width,0,0);
    -moz-transform: translate3d(-@sidebar-width+@sidebar-show-width,0,0);
    -ms-transform: translate3d(-@sidebar-width+@sidebar-show-width,0,0);
    -o-transform: translate3d(-@sidebar-width+@sidebar-show-width,0,0);
    transform: translate3d(-@sidebar-width+@sidebar-show-width,0,0);
}

.pushy-open{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.container-push, .push-push{
    -webkit-transform: translate3d(@sidebar-width,0,0);
    -moz-transform: translate3d(@sidebar-width,0,0);
    -ms-transform: translate3d(@sidebar-width,0,0);
    -o-transform: translate3d(@sidebar-width,0,0);
    transform: translate3d(@sidebar-width,0,0);
}

/* Menu Transitions */

.pushy, #container, .push {
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}

#container {
  margin-left: @sidebar-show-width;
}
