html {
  height: 100%;
}

body {
  min-height: 100%;
}

body.login-page {
  background: url('/img/bg.png') no-repeat center center;
  background-size: cover;
}

.signin-card {
  margin-top: 25vh;
  color: white;
  text-align: center;
  text-transform: uppercase;
  h1 {
    font-size: 3em;
  }

  p {
    font-size: 1.5em;
  }
}
