<div class="content">
    <loader when="!entries.$resolved"></loader>

    <table class="table table-hover" ng-show="entries.length > 0">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>URL</th>
            <th>Created</th>
            <th>Updated</th>
            <th></th>
        </tr>
        </thead>
        <tr class="filter-row">
            <td></td>
            <td><input type="text" class="form-control input-sm" ng-model="search.name"></td>
            <td><input type="text" class="form-control input-sm" ng-model="search.url"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr ng-repeat="entry in entries | filter:seach" ng-class="{'list-group-item-warning': isUnsafe(entry.id)}">
            <td>{{ entry.id }}</td>
            <td><span title="{{entry.note}}">{{ entry.name }}</span></td>
            <td><span title="{{entry.note}}">{{ entry.url }}</span></td>
            <td><span am-time-ago="entry.created_at" title="{{ entry.created_at }}"></span></td>
            <td><span am-time-ago="entry.updated_at" title="{{ entry.updated_at }}"></span></td>
            <td class="text-right">
                <a class="btn btn-primary btn-xs" title="Access Information" ng-click="entryAccessInfo($index)" ng-if="!entry.can_edit">
                    <i class="glyphicon glyphicon-info-sign"></i>
                </a>
                <div ng-show="entry.can_edit">
                    <a ng-click="getPassword($index)" class="btn btn-info btn-xs" title="Display Password">
                        <i class="glyphicon glyphicon-lock"></i>
                    </a>
                    <a ng-click="shareEntry($index)" class="btn btn-success btn-xs" title="Share to User">
                        <i class="glyphicon glyphicon-share-alt"></i>
                    </a>
                    <a ng-click="updateEntry($index)" class="btn btn-warning btn-xs" title="Update">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a ng-click="deleteEntry($index)" class="btn btn-danger btn-xs" title="Remove">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
    </table>

    <div ng-if="entries.$resolved && entries.length == 0">
        This project has no added keys.
    </div>
</div>
